.encabezado{
    width: auto;
    height: 550px;
    border: 5px solid black;
    background-image: url(img/cabecera.png);
}
#encabezadoImg{
    height: 100vh;
    width:auto;
    color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/0127.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   background-attachment: fixed;
}

.circularImg {
    border-radius: 50%;
  }
  /*caja contenedora de sobre mi, lo que hago es darle espacio arriba y abajo, alinio todo al centro y que sea en forma de fila*/
  #sobremi{
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    background-color: rgb(255, 255, 255);
    margin-bottom: 100px;
     
    
}
#sobremiImg{
    /*padding: 30px;*/
    /*background-image: url(img/sobremi3.png);
    background-repeat: no-repeat;

    background-size: contain;
    border: 5px solid orangered;
    border-radius: 50%;
    height: 50%;
    object-fit: contain;
    position: relative;*/
    width: 500px;
    height: auto;
    display: flex;
    justify-content: center;
   
   
}
#sobremiText{
    padding: 30px;
    width: 500px;
    height: auto;
}

nav{
    background-color:  rgba(241, 88, 16, 1);
    
}
footer{
    background-color:  rgba(241, 88, 16, 1);
}
#aptitudes{
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    background-color: rgb(247, 247, 247);
}
.but{
    margin: 50px;
    
    
}
.btMi{
    color:rgba(241, 88, 16, 1);
    text-decoration: none;
    font-weight: bold;
}
.btMi:hover{
    color: rgba(241, 88, 16, 1);
}
.butMi{
    border:1px solid rgba(241, 88, 16, 1); 
    padding: 20px;
    border-radius: 10px;
}
.butMi:hover{
    background-color: white;
    text-decoration: none;
    border:1px solid white; 
    border-radius: 10px; 
}
.tarjeta{
    padding: 20px;
    margin: 40px;
    width: 350px;
    height: 400px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}

.tarjetas{
    width: 100%;
    
    display: flex;
    justify-content: center;
    
    flex-wrap: wrap;
    

}
.imgtarjeta{
    width: 150px;
    height: 150px;   
}
#estudios{
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    background-color: rgb(255, 255, 255);
}
#porfolio{
    height: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    background-color: rgb(247, 247, 247);
    
}
.carrusel{
   
    margin-top: 20px;
    
}
#contactame{
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    background-color: rgb(255, 255, 255);
}
#contenedorFooter{
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#footercaja{
    width: 50%;
    align-items: center;
    padding: 20px;
    margin: 5px;
    color: white;
}
#diseñopor{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: black;
    color: white;
    padding-top: 10px;
}
#textform{
    width: 45%;
    height: 35px;
    border-radius: 10px;
    padding: 0 4px 0 4px;
    border-style: none;
    background-color:lightgray;
    margin: 10px;
}
#textComentario{
    width: 45%;
    height: 80px;
    border-radius: 10px;
    padding: 0 4px 0 4px;
    border-style: none;
    background-color:lightgray;
    margin: 10px;
}
#ulredes{
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:center; 
    
}
#olinsta{
    background-image: url(img/instagram.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width:30px;
    height: 30px;
    margin: 5px;
   
}
#olinsta:hover{
    background-image: url(img/instagram1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
}
#olface{
    background-image: url(img/facebook2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width:30px;
    height: 30px;
    margin: 5px;
    
}
#olface:hover{
    background-image: url(img/facebook3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
#oltwitter{
    background-image: url(img/gorjeo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width:30px;
    height: 30px;
    margin: 5px;
}
#oltwitter:hover{
    background-image: url(img/gorjeo1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
.text-justify {
    text-align: justify;
    height: 550px;
  }
#contedorMenuSobreMi{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    flex-direction: row;
    

}
.claseMenuSobreMi{
    background-color: blue;
    height: 50px;
    margin: 5px;
    padding: 10px;
}
.claseMenuSobreMi:hover{
    background-color: chartreuse;
}